{{> header }}

<ul class="pagination pagination-lg">
    <li class="active"><a href="1.php">1</a></li>
    <li><a href="2.php">2</a></li>
    <li><a href="3.php">3</a></li>
    <li><a href="4.php">4</a></li>
    <li><a href="5.php">5</a></li>
    <li><a href="6.php">6</a></li>
    <li><a href="7.php">7</a></li>
    <li><a href="8.php">8</a></li>
    <li><a href="9.php">9</a></li>
    <li><a href="10.php">10</a></li>
</ul>

{{# success }}
    <img src="https://scontent-a-iad.xx.fbcdn.net/hphotos-ash2/28687_522084641106_8272751_n.jpg?lvh=1" /><br /><br/>
    <div class="alert alert-dismissable alert-success">
        <strong>Well done!</strong> Let's move on :-).
    </div>
    <a href="2.php" class="btn btn-primary">Next question</a>
{{/ success }}

{{^ success}}
    <p>This treaure hunt consists of a series of questions, some of which you will just have to think about,<br/>
        and others that will require you to find things around the house :-). <br/>Answers are case-insentive, and if
        you get stuck feel free to text me!
    </p>
    <h2>Question #1</h2>

    <div class="row">
        <div class="well">
          <form class="bs-example form-horizontal" method="post" action="1.php">
            <fieldset>
              <p>This structure was built in the early 1930's, and we visited it in 2010!</p>
              <div class="form-group">
                <label for="inputAnswer" class="col-lg-2 control-label">Answer</label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="inputAnswer" name="answer">
                </div>
              </div>
                <div class="form-group">
                <div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
    </div>
{{/ success}}
{{> footer }}