{{> header }}

<ul class="pagination pagination-lg">
    <li class="disabled"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
    <li class="disabled"><a href="#">3</a></li>
    <li class="disabled"><a href="#">4</a></li>
    <li class="disabled"><a href="#">5</a></li>
    <li class="disabled"><a href="#">6</a></li>
    <li class="active"><a href="#">7</a></li>
    <li><a href="8.php">8</a></li>
    <li><a href="9.php">9</a></li>
    <li><a href="10.php">10</a></li>
</ul>


{{> footer }}