{{> header }}

{{# success }}
    <h3>Progress</h3>
    <div class="progress">
        <div class="progress-bar" style="width: {{ step }}0%;"></div>
    </div>
    <br>
    {{{ success_img }}}
    <br><br>
    <div class="alert alert-success">
        {{{ success_message }}}
    </div>
    <a href="reward.php" class="btn btn-primary">Victory!</a>
{{/ success }}

{{^ success}}
    <h3>Progress</h3>
    <div class="progress">
        <div class="progress-bar" style="width: {{ progress_width }}0%;"></div>
    </div>
    <br>

    {{# failure }}
        <div class="alert alert-danger">
            <strong>Oops!</strong> Not quite.  Try again?
        </div>
    {{/ failure }}

    <h2>Question #{{ step }}</h2>

    <div class="row">
        <div class="well">
            <form class="bs-example form-horizontal" method="post" action="{{ step }}.php">
                <fieldset>
                    <p>{{ question }}</p>
                    <div class="form-group">
                        <label for="inputAnswer" class="col-lg-2 control-label">Answer</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="inputAnswer" name="answer">
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{{/ success}}

{{> footer }}