{{> header }}
<br><br>

<div class="jumbotron">
  <h1>Steph's Birthday Treasure Hunt!</h1>
  <p>This treaure hunt consists of a series of questions, some of which you will just have to think about,
    and others that will require you to find things around the house :-).
    Answers are case-insentive, and if you get stuck feel free to text me!
  </p>
  <p><a class="btn btn-primary btn-lg" role="button" href="1.php">Begin</a></p>
</div>

{{> footer }}