<!doctype html>
<html>
<head>
    <title>Project Q</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/q.css">
</head>
<body>
    <div style="text-align:center">

        <br><br>
        <iframe width="853" height="480" src="http://www.youtube.com/embed/Gwc4fupL2mc" frameborder="0" allowfullscreen></iframe><br/>
        <a href="last.php" type="button" class="btn btn-success">When that's over, click here...</a>

{{> footer }}